<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Scrabble Club</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add Match</h1>
<div th:replace="fragments/links :: links">...</div>

<form action="#" th:action="@{/add-match}" th:object="${match}" method="post">
    <p>Date: <input type="date" th:field="*{matchDate}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>